
<div class="user-menu clearfix">
	<ul class="nav navbar-nav user-nav" ng-init = "tab = 1">
		<li >
			<a href ng-click = "tab = 1">Time</a>
		</li>
		<li  >
			<a href ng-click = "tab = 2">Reports</a>
		</li>
		<li >
			<a href ng-click="tab = 3">Projects</a>
		</li>
	</ul>
</div>
<div class="user-container">
	<div ng-show="tab === 1">
		<div class="row">
			<div class="col-md-6">
				<form name="userForm">
				  <div class="form-group">
				    <label for="exampleSelect2">Project</label>
			    	<select class="form-control" ng-model="userProject" ng-options="userProject.name for userProject in userProjects">
			  			<option value="">Select Project</option>
			  		</select>
				    
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Duration</label>
	    			<input type="number" class="form-control" ng-model="duration" placeholder="Enter Duration"/>
				  </div>
				  <div class="form-group">
				    <label for="exampleTextarea">Comment</label>
				    <textarea class="form-control"  rows="3" ng-model="userComment"></textarea>
				  </div>
				  <button type="submit" class="btn btn-primary" ng-click="myAlert()">Submit</button>
				</form>
			</div>
			<div class="col-md-6">
			<calender></calender>
			</div>
		</div>
		<table ng-show="userTable" class="table table-bordered table-responsive table-striped">
			<thead>
				<th class="col-xs-3">Project</th>
				<th class="col-xs-3">Duration</th>
				<th class="col-xs-3">Comment</th>
				<th class="col-xs-3">Date</th>
				<th colspan="3">Options</th>
			</thead>
			<tr ng-repeat="info in informations" ng-class="{editUser: info.editTable}">
				<td class="col-xs-3" contenteditable="{{info.editTable}}">{{info.Project}}</td>
				<td class="col-xs-3" contenteditable="{{info.editTable}}">{{info.Duration}}</td>
				<td class="col-xs-3" contenteditable="{{info.editTable}}">{{info.Comment}}</td>
				<td class="col-xs-3" contenteditable="{{info.editTable}}">{{info.userDateInfo}}</td>
				<td><button class="btn btn-primary" ng-click="toggleDeleteModal($index,'Delete')" title="Delete"><span class="glyphicon glyphicon-trash"></span></button></td>
				<td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="toggleModal($index, 'Edit Form')"><span class="glyphicon glyphicon-edit"></span></button></td>
			</tr>
		</table>
		
		
		
		<div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ buttonClicked }} clicked!!</h4>
              </div>
              <div class="modal-body clearfix" >
              	<div class="row">
					<div class="col-md-6">
						<form name="userForm">
						  <div class="form-group">
						    <label for="exampleSelect2">Project</label>
					    	<select class="form-control" ng-model="editProjectInfo" ng-options="editProjectInfo.name for editProjectInfo in editProjectInfos">
					  			<option value="">Select Project</option>
					  		</select>					
						  </div>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Duration</label>
			    			<input type="number" class="form-control" ng-model="editduration" placeholder="Enter Duration"/>
						  </div>
						  <!-- <div class="input-group date clearfix">
						    <label for="">Date</label>
							<input type="text" classl="form-control" value="" ng-model="editDate">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-th"></span>
							</div>
						</div> -->
						  <div class="form-group">
						    <label for="exampleTextarea">Comment</label>
						    <textarea class="form-control"  rows="3" ng-model="editComment"></textarea>
						  </div>
						  <button type="" class="btn btn-primary" ng-click="editAlert()">Save</button>
						</form>
					</div>
				</div>
              </div>		
			
			</div>
          </div>
        </div>
		
		<modal visible="deleteModal">
			Are you sure want to delete ?
			<div class="right">
			<button ng-click="removeUserinfo()" class="btn btn-default">Delete</button>
			<button ng-click="toggleDeleteModal(-1,'Delete Form')" class="btn btn-default">Cancel</button>
			</div>
		</modal>  
	</div>
	<div ng-show="tab ===2">
		<div class="row">
			<div class="col-md-6">
				<form name="userForm">
					<div class="form-group">
						<label class="control-label">Project</label>
						<div class="panel panel-group">
							<div class="panel panel-default">
						      <div class="panel-heading" role="group"><button type="button"  ng-click = "selectAll()" class="btn btn-primary btn-report-project">Selectall / Deselectall</button><!-- <button type="button" class="btn btn-primary btn-report-project" ng-click = "selectAll()"></button> --></div>
						      <div class="panel-body">
						      	<ul class="list-group row">
						      		<li class="list-group-item col-xs-6" ng-repeat="userProject in userProjects">
							      		<div class="checkbox">
									      <label><input type="checkbox" value="" ng-checked="reportCheck">{{userProject.name}}</label>
									    </div>
								    </li>
						      	</ul>
						      </div>
						    </div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-12 control-label">Select Time Period</label>
						<select class="form-control" ng-model="proTimePeriod" ng-options="proTimePeriod for proTimePeriod in proTimePeriods">
				  			<option value="">Select Time Period</option>
				  		</select>
					</div>
		  		</form>
	  		</div>
		</div>
	</div>
	<div ng-show="tab ===3">
	<div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" class="form-control" placeholder="Search"  ng-model="test"/>
    </div>
    <div class="row-addon right-addon">
    	<select class="form-control"  ng-model="rowLimit" ng-init="rowLimit = 5" ng-options="rowLimit for rowLimit in rowLimits">
  			<option value="">Select Row Limits</option>
  		</select>
    </div>
		<table ng-table="usersTable" class="table table-bordered table-responsive table-striped">
		<thead>
			<th>Project</th>
			<th>Description</th>
		</thead>
		   <tr ng-repeat="user in users | filter: test | startFrom:currentPage*rowLimit| limitTo:rowLimit">
		       <td data-title="'Id'" class="col-xs-6">
		           {{user.project}}
		       </td>
		       <td data-title="'First Name'" class="col-xs-6" >
		           {{user.Description}}
		       </td>
		   </tr>
		</table>
		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-default">
			Previous
		</button>
		{{currentPage+1}}/{{numberOfPages()}}
		<button ng-disabled="currentPage >= getData().length/rowLimit - 1" ng-click="currentPage=currentPage+1" class="btn btn-default">
			Next
		</button> 
	</div>
</div>



