<div class="user-menu clearfix">
	<ul class="nav navbar-nav user-nav" ng-init = "tab = 1">
		<li >
			<a href ng-click = "tab = 1">Time</a>
		</li>
		<li  >
			<a href ng-click = "tab = 2">Reports</a>
		</li>
		<li >
			<a href ng-click="tab = 3">Projects</a>
		</li>
	</ul>
</div>
<div class="user-container">
	<div ng-show="tab === 1">
	<div class="row">
		<div class="col-md-6">
			<form>
			  <div class="form-group">
			    <label for="exampleSelect2">Project</label>
			    <select class="form-control" >
			      <option>Fun Project</option>
			      <option>NFDN</option>
			    </select>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Duration</label>
    			<input type="number" class="form-control" placeholder="Enter Duration"/>
			  </div>
			  <div class="form-group">
			    <label for="exampleTextarea">Comment</label>
			    <textarea class="form-control"  rows="3"></textarea>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="col-md-6">
		</div>
	</div>
	</div>
	<div ng-show="tab ===2">{{tab}}</div>
	<div ng-show="tab ===3">{{tab}}</div>
</div>